@media screen and (min-width: 481px) and (max-width:768px) {
    .content-block {
        width: 430px;
        height: 550px;
        padding: 25px;
    }

    .main-heading {
        font-size: 24px;
    }

    #nameValue {
        margin-right: 0;
    }

    #addBtn {
        width: 100%;
        height: 40px;
    }

    .content-btn__container {
        display: block;
    }

    #info {
        height: 200px;
    }

    .btn-block {
        flex-direction: row;
    }

    .btn {
        font-size: 14px;
    }

    #delete {
        margin-top: 0;
    }

    #nameValue, #info {
        width: 100%;
        margin-bottom: 12px;
    }

}